<div class="container px-5 py-6 mx-auto">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="https://desafiolatam.com/assets/images/home/logo-academia-ne.png" class="w-48 h-20 sm:mr-20 mb-4 sm:mb-0" alt="Logo Desafio Latam"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">GitHub</h2>
            <p class="text-xl mb-2 font-semibold">Curso de Desafio Latam.</p>
            <p class="leading-relaxed text-base">El curso de GitHub enseñó a crear y gestionar repositorios, controlar versiones y publicar con GitHub Pages, además del trabajo colaborativo con Git.</p>
            <a href="https://cursos.desafiolatam.com/certificates/2bzutwrvbv" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">Ver Certificado</a>
        </div>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Introducción a la Programación Web</h2>
            <p class="text-xl mb-2 font-semibold">Curso de Desafio Latam.</p>
            <p class="leading-relaxed text-base">El curso proporcionó una introducción a HTML y CSS, enseñando cómo estructurar y estilizar páginas web. Uso de Flexbox y Bootstrap. También se vio Git y GitHub. El control de versiones y la publicación de proyectos.</p>
            <a href="https://cursos.desafiolatam.com/certificates/sz61enwcrg" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">Ver Certificado</a>
        </div>
        <img src="https://desafiolatam.com/assets/images/home/logo-academia-ne.png" class="w-48 h-20 sm:ml-20 mb-4 sm:mb-0" alt="Desafio Latam Logo"/>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="https://desafiolatam.com/assets/images/home/logo-academia-ne.png" class="w-48 h-20 sm:mr-20 mb-4 sm:mb-0" alt="Logo Desafio Latam"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">SQL Interactivo</h2>
            <p class="text-xl mb-2 font-semibold">Curso de Desafio Latam.</p>
            <p class="leading-relaxed text-base">En el curso de SQL se vieron conceptos básicos como bases de datos, tablas y consultas. Incluye manipulación de datos, consultas, relaciones y uniones, funciones de agregación, subconsultas, manejo de tablas y restricciones para garantizar la integridad de los datos.</p>
            <a href="https://www.tutorialesinteractivos.com/certificados/a5b3f840-934b-46cf-b210-e00d8b3b875e" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">Ver Certificado</a>
        </div>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">CiberSegurity</h2>
            <p class="text-xl mb-2 font-semibold">Curso de Cisco Networking Academy.</p>
            <p class="leading-relaxed text-base">El curso proporciona conocimientos básicos sobre ciberseguridad. Aborda las implicaciones globales de las amenazas cibernéticas, la detección y defensa contra vulnerabilidades, y destaca las oportunidades profesionales en el campo de la ciberseguridad.</p>
            <a href="https://www.credly.com/badges/41aafd94-7623-4b21-b94e-c5436b50cfae/public_url" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">Ver Certificado</a>
        </div>
        <img src="https://skillsforall.com/sfa-assets/images/svg/netacad_logo_black.svg" class="w-48 h-20 sm:ml-20 mb-4 sm:mb-0" alt="Desafio Latam Logo"/>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="https://skillsforall.com/sfa-assets/images/svg/netacad_logo_black.svg" class="w-48 h-20 sm:mr-20 mb-4 sm:mb-0" alt="Logo Desafio Latam"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">English For It</h2>
            <p class="text-xl mb-2 font-semibold">Curso de Cisco Networking Academy.</p>
            <p class="leading-relaxed text-base">El curso enseña el uso correcto de conceptos gramaticales complejos y términos relacionados con la seguridad de la información, roles laborales, soporte al cliente, experiencia del usuario, llamadas fraudulentas, y la ingeniería de redes y software.</p>
            <a href="https://www.credly.com/badges/964b77c8-142b-467b-87a5-0eed7084f6cd/public_url" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">Ver Certificado</a>
        </div>
    </div>
</div>
