<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
<div class="[&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong]:font-semibold text-pretty">
    <p>
            Me llamo Juan Pietro Bonacossa, tengo 20 años y soy de Tucumán, Argentina. Estudio la <strong>Tecnicatura Universitaria en Programación </strong> en la UTN FRT  (Universidad Tecnológica Nacional, Facultad Regional Tucumán). 
    </p>
    
    <p>
        Siempre estoy buscando oportunidades para <strong>crecer</strong> como profesional y prepararme para el mundo laboral.
    </p>
    
    <p>
        <strong>Estudie Ingles en Aticana y obtuve un nivel B2</strong>. Me apasiona el mundo del desarrollo de videojuegos, y en mi tiempo libre, aprendo tecnologías como Unity y Godot.
    </p>

    <p class="text-pretty">
        Todos los días continúo desarrollando mis habilidades como dev <strong>Full-Stack</strong>, participando en proyectos y haciendo cursos que me permitan <strong>aprender y crecer</strong> como programador. 
    </p>
</div>
<img src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHY5M3prNjdmdXV0YmVtMmlxNGNtc3pwNXplOGViMXl0cGFuc3JuNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fc4CgGnZOktRm/giphy.gif" alt="yo" class="rounded-full size-64">
</section>